@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 40 60% 99%; /* Warm White */
    --foreground: 255.6 23.9% 22.2%; /* Navy */

    --card: 40 60% 99%;
    --card-foreground: 255.6 23.9% 22.2%;

    --popover: 40 60% 99%;
    --popover-foreground: 255.6 23.9% 22.2%;

    --primary: 24.3 61.8% 43.1%; /* Terracotta AA */
    --primary-foreground: 40 60% 99%;

    --secondary: 82.6 46.0% 51.4%; /* Green */
    --secondary-foreground: 255.6 23.9% 22.2%;

    --muted: 23.3 39.7% 73.3%;
    --muted-foreground: 288 2.2% 44.5%; /* Gray */

    --accent: 82.6 46.0% 51.4%;
    --accent-foreground: 255.6 23.9% 22.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 288 2.2% 44.5%;
    --input: 288 2.2% 44.5%;
    --ring: 82.6 46.0% 51.4%;
    
    --radius: 1rem;
  }

  .dark {
    --background: 0 0% 7.1%;
    --foreground: 30 25% 90.6%;

    --card: 0 0% 7.1%;
    --card-foreground: 30 25% 90.6%;

    --popover: 0 0% 7.1%;
    --popover-foreground: 30 25% 90.6%;

    --primary: 24.3 61.8% 43.1%;
    --primary-foreground: 30 25% 90.6%;

    --secondary: 82.6 46.0% 51.4%;
    --secondary-foreground: 255.6 23.9% 22.2%;

    --muted: 0 0% 20%;
    --muted-foreground: 30 25% 50%;

    --accent: 82.6 46.0% 51.4%;
    --accent-foreground: 30 25% 90.6%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 30 25% 90.6%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 82.6 46.0% 51.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold tracking-tight;
  }
}
